*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header a{
    display: flex;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 2%;
    left: 1%;
    
}
header img{
    border-radius: 50px;
}
header h1{
    position: absolute;
    left: 44%;
    top: 5%;
    padding: 2vh 3vh;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 8px 8px 20px 2px black;
    background-color: rgb(129, 255, 84);
}
.dados-pessoais{
    position: absolute;
    left: 35%;
    top: 20%;
    background-color: rgb(219, 219, 219);
    border-radius: 15px;
    border: 2px solid black;
    padding: 2vh 3vh;
    box-shadow: 8px 8px 20px 2px black;
}
.dados-pessoais input{
    margin-left: 3vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-right: 3vh;
    padding-right: 1vh;
    width: 55vh;
    height: 5vh;
    border-radius: 8px;
    font-size: 15px;
}
.dados-pessoais label{
    margin-left: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main h3{
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding: 1vh 1vh;
    border-top: 2px solid gray;
}
main h4{
    font-size: 18px;
    margin-bottom: 3vh;
    margin-left: 1vh;
}
main img{
    width: 100%;
    height: 200%;
}
main button{
    display: flex;
    justify-self: right;
    margin-right: 3vh;
    margin-top: 1vh;
    font-size: 20px;
    padding: 1vh 2vh;
    border-radius: 5px;
    cursor: pointer;
}
main a{
    text-decoration: none;
}